<h2>Add a new todo...</h2>

<form action="/todo/create">
    <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Todo">
    <input class="text-input" id="new-Pomodoro-estimate" name="Pomodoro_estimate" type="number" placeholder="Pomodoro estimate...">
    <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>